<p>Cantidad de vuelos: <%= @all %></p>

<p>Salidos: <%= @past %> (<%= (100*(@past.to_d / @all)).round(2) %>%)</p>

<p>Esperando: <%= @future %> (<%= (100*(@future.to_d / @all)).round(2) %>%)</p>

<p>Ocupación promedio <%= @static_taken.round(2) %>%</p>