<h1>Booking</h1>

<%= form_with model: @booking do |form| %>
  <div>
    <%= form.label :IdFlight %><br>
    <%= form.text_field :IdFlight %>
  </div>

  <div>
    <%= form.label :Nombre %><br>
    <%= form.text_field :user %>
    <% @booking.errors.full_messages_for(:user).each do |message|%>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :Asientos %><br>
    <%= form.text_field :seats %>
    <% @booking.errors.full_messages_for(:seats).each do |message|%>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
